.cta {
  // width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;

  a {
    border: solid 1px #071D66;
    border-radius: 4px;
    color: #071D66;
    text-decoration: none;
    transition: all .5s;
    padding: 1rem 2rem;

    &:hover {
      background: #071D66;
      color: white;
    }
  }
}